---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<a
	class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
	href="#"
>
	<div class="w-full flex items-center justify-center p-4 text-center">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="42"
			height="42"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon-tabler icons-tabler-outline icon-tabler-air-balloon"
			><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
				d="M10 19m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
			></path><path
				d="M12 16c3.314 0 6 -4.686 6 -8a6 6 0 1 0 -12 0c0 3.314 2.686 8 6 8z"
			></path><path d="M12 9m-2 0a2 7 0 1 0 4 0a2 7 0 1 0 -4 0"></path></svg
		>
	</div>

	<h2 class="mt-2 font-bold">{title}</h2>

	<p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
		Lorem ipsum dolor sit amet consectetur.
	</p>
</a>
